@model ITSAIntermediate_OmphileMojahi_.Data.Models.Users;
@{
    ViewData["Title"] = "Details";
}
<div>
    <h1>User Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Suburb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Suburb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.ComplexName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.ComplexName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Department)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.BusinessType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.BusinessType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>